<div>
    
</div>

<br>

<mat-divider></mat-divider>

<br>

<div>
    
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
        <div class="mat-elevation-z8">
            <table>

                

                
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>

    </div>
    <div fxFlex="40">
       
    </div>
</div>

<br>
<br>
<br>